
{% extends "home.html" %}
{% block content %}

        <!-- Project Start -->
        <div class="container-fluid project py-5 mb-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h5 class="text-primary">Companies</h5>
                    <h1>Available Companies </h1>
                </div>
                <div class="row g-5">
                    {% for i in companies %}
                        
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="/{{i.profile}}" class="img-fluid w-100 rounded" alt="">
                                <div class="project-content">
                                    <a href="{% url 'products' i.id %}" class="text-center">
                                        <h4 class="text-secondary">{{i.full_name}}</h4>
                                        <p class="m-0 text-white">{{i.address}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Project End -->

{% endblock %}